<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: "Montserrat";
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>URL SHORTNER</h1>
    <% if(locals.id){ %>
        <p>Your short url is: http://localhost/url/<%= id %></p>
    <% } %>
    <form method="POST" action="/url">
        <label>Enter your original url</label>
        <input type="text" name="url" placeholder="http://example.com" />
        <button type="button">Generate</button>
    </form>
</body>
</html>

